
node_modules/
**/node_modules/
.env
.env.*
!.env.example
**/passwords.json
**/.env*
y-leveldb-storage/
**/y-leveldb-storage/
database/
**/database/

dist/
**/dist/
build/
**/build/
.next/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Dd]esktop.ini
.dockerignore
!dockerfile